*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(black, #052d4d);
    color: #ffffff;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

p{
    margin: 5px 0;
}

h2{
    margin: 10px 0 20px;
    text-align: center;
}

input[type='checkbox'] {
    margin-right: 0;
}

.container {
    background-color: #052d4d;
    box-shadow: 0px 2x 10px rgba(107, 54, 54, 0.2);
    padding: 30px;
    height:490px;
    width: 550px;
    max-width: 100%;
    border-radius:10px ;
}

.result-container{
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 90px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100%-40px);
}

.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

.btn{
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: darkcyan;
    transition-duration: 800ms;
    margin-left: 125px;
}

.btn:hover{
    transition-duration: ease-in-out 800ms;
    transform: scale(1.1);
}

.btn-large{
    display: block;
    width: 50%;

}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;

    }
}